{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--Contact Us Page -->

<div class="container mt-4">
    <div class="row">
        <h1 class="page-title">Contact Us</h1>
    </div>
</div>

<!--Contact info-->
<div class="container">
    <div class="container">
        <div class="row contact-details">
            <div class="col-company-info col-12 col-sm-6">
                <h4 class="text-black">Address:</h4>
                <p>Templescoby<br>Enniscorthy<br>Co. Wexford</p>
                <hr>
                <h4 class="text-black">Eircode:</h4>
                <a href="https://maps.google.ie/maps?q=Y21TK54" target="_blank">Y21TK54</a>
                <hr>
                <h4 class="text-black">Phone:</h4>
                <a class="" href="tel:0879849195">087-9849195</a>
                <hr>
                <h4 class="text-black">Social:</h4>
                <a
                  class="btn btn-link btn-floating btn-lg m-1"
                  href="https://www.facebook.com/TWilliamson1/"
                  role="button"
                  data-mdb-ripple-color="dark"
                  target="_blank" 
                  rel="noopener" 
                  aria-label="Visit our Facebook page (opens in a new tab)"
                  ><i class="fab fa-facebook-f"></i>
                </a>
                <a
                class="btn btn-link btn-floating btn-lg m-1"
                href="https://Instagram.com"
                role="button"
                data-mdb-ripple-color="dark"
                target="_blank" 
                rel="noopener" 
                aria-label="Visit our Instagram page (opens in a new tab)"
                ><i class="fab fa-instagram"></i>
                </a>  
                <hr>
                <h4 class="text-black">Opening Hours:</h4>
                <div class="table-shadow">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Open</th>
                                <th scope="col">Close</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="Monday">
                                <th scope="row">Monday</th>
                                <td>8:00</td>
                                <td>17:30</td>
                            </tr>
                            <tr id="Tuesday">
                                <th scope="row">Tuesday</th>
                                <td>8:00</td>
                                <td>17:30</td>
                            </tr>
                            <tr id="Wednesday">
                                <th scope="row">Wednesday</th>
                                <td>8:00</td>
                                <td>17:30</td>
                            </tr>
                            <tr id="Thursday">
                                <th scope="row">Thursday</th>
                                <td>8:00</td>
                                <td>17:30</td>
                            </tr>
                            <tr id="Friday">
                                <th scope="row">Friday</th>
                                <td>8:00</td>
                                <td>17:30</td>
                            </tr>
                            <tr id="Saturday">
                                <th scope="row">Saturday</th>
                                <td>8:00</td>
                                <td>16:30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text-muted">Closed Sunday's and Bank Holiday's. <br> Closed for lunch 13:00 to 14:00.</p>   
                <hr class="hidden-md hidden-lg">

            </div>
            <!--Form for Contact Us-->
            <div class="col-contact-form col-12 col-sm-6">
                <div class=><h6 class="text-black">Send us your queries...</h6></div>
                <form action="#" form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-black btn-block" type="submit" value="Submit">
                </form>
            </div>
        </div>  
    </div>


    <!--subscribe to newsletter button-->
    <div class="rainbow">
        <a href="{% url 'subscribe' %}" class="btn-block btn-black rounded btn" role="button" aria-pressed="true">Subscribe to our newsletter!</a> 
    </div>
 
    <div class="spacer-bar">
        <span class="blank-spacer"></span>
    </div>
    <!--google map -->
    <div class="map-section mb-4">
        <div style="width: 100%">
            <iframe width="100%" 
            height="400" 
            frameborder="0" 
            scrolling="no" 
            marginheight="0" 
            marginwidth="0" 
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Y21TK54+(Yard)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a>
            </iframe>
        </div>
    </div>  
    
</div>


{% endblock %} 
{% block postloadjs %}
{{ block.super }}
<script> 
    document.addEventListener("DOMContentLoaded",openToday())
</script>
  
{% endblock %}

