{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--Gallery Page -->
<section class="gallery-block compact-gallery">
  <div class="container">
      <div>
          <h1 class="gallery-heading">Inspiration</h1>
          <p>Look through our gallery for information and inspiration.</p>
      </div>
      <div class="row no-gutters">
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_5.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_5.png">
                  <span class="description">
                      <span class="description-heading"><title>Town Garden</title></span>
                      <span class="description-body">Curved Indian Sandstone paving slabs to extend outdoor living space. Outdoor fence panels, trellises and shed painted the same colour to control flow.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_6.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_6.png">
                  <span class="description">
                      <span class="description-heading"><title>Sandstone Paving</title></span>
                      <span class="description-body">Curved edge with brick to border flower bed and Sandstone slabs.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_4.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_4.png">
                  <span class="description">
                      <span class="description-heading"><title>Granite Paving</title></span>
                      <span class="description-body">Purple and green plant with Alliums and grasses set against 600x600 Granite slabs with raised walls.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_3.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_3.png">
                  <span class="description">
                      <span class="description-heading"><title>Contemporary Garden</title></span>
                      <span class="description-body">Bord Bia Bloom 2022 Gold Medal winning show garden. A modern living space with water feature and polished slabs. Planted with Irish Birch.</span>
                  </span>
                  </a>
              </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_2.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_2.png">
                  <span class="description">
                      <span class="description-heading"><title>Meadow Planting</title></span>
                      <span class="description-body">Colourful border planting around raised seating area with curved steel fence.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_1.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_1.png">
                  <span class="description">
                      <span class="description-heading"><title>Relaxation Garden</title></span>
                      <span class="description-body">Curved paving brick path through curved arches. Steel edged kerbing. Path leads to a timber pergola with curved galvanized roof.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_9.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_9.png">
                  <span class="description">
                      <span class="description-heading"><title>Stock Fencing</title></span>
                      <span class="description-body">We carry the full range of Tornado fencing products, Stock and Equestrian fencing solutions.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_8.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_8.png">
                  <span class="description">
                      <span class="description-heading"><title>Timber Sleepers</title></span>
                      <span class="description-body">Timber sleepers used to construct a split level garden with step, set against Black paving slabs.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}/show/show_7.png">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}/show/show_7.png">
                  <span class="description">
                      <span class="description-heading"><title>Railway Sleepers</title></span>
                      <span class="description-body">Genuine reclaimed railway sleepers supplied and delivered.</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
</script>
{% endblock %}



