{% extends "base.html"%}
{% load static %}

{% block content %}
<!--Carousel-->

{% include 'general_templates/carousel.html' %} 

<section class="product-box">
    <div class="container-fluid product-box text-black mb-2">
            <div class="row">
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Fencing Products"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/fence.png" alt="Image of fence panel"> 
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Fencing Products</h5>
                        <p class="card-text">We carry and manufacture a wide range of fencing panels and related products.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Paving"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/paving.png" alt="Image of paving blocks">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Paving</h5>
                        <p class="card-text">We follow the lastest trends in paving and hardscaping supplies. Our yard carrys all stock of paving brick, slabs and natural flag stones. </p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Agri"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/tractor.png" alt="Image of a tractor">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Agri Products</h5>
                        <p class="card-text">We sell and deliver a complete range of agri/farming clothing, tools, consumables and much more.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Timber">    
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/timber.png" alt="Image of a timber boards">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Timber Products</h5>
                        <p class="card-text">From our base in Wexford we hold a large stock of timber and pressure treated products.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Paint"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/paint.png" alt="Image of a paint cans"> 
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Paints & Decoration</h5>
                        <p class="card-text">We supply a large range of paints, stains and perservatives including the tools to apply them.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Gates"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/gates.png" alt="Image of a gate">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gates</h5>
                        <p class="card-text">We sell a wide range of timber gates along with the necessary hardware.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Stone"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/decorative_stone.png" alt="Image of stone"> 
                    <a/>
                    <div class="card-body">
                        <h5 class="card-title">Decorative Stone</h5>
                        <p class="card-text">We supply and deliver all quantities of decorative stone for use in wide range of landscaping applications.</p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Outdoor Furniture">
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/bench.png" alt="Image of a bench">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Outdoor Furniture</h5>
                        <p class="card-text">We supply many styles of sustainable timber furniture, practical seats and benches and decoration arches and pergolas to suit all types of garden. </p>
                    </div>
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Hardware"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/hardware.png" alt="Image of hardware">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Hardware</h5>
                        <p class="card-text">Our store stocks all types of hardware, fixtures and fixings</p>
                    </div> 
                </div>
                <div class="card product-card">
                    <a href="{% url 'products' %}?category=Power Tools"> 
                        <img class="card-img" src="{{ MEDIA_URL }}/index_card/power_tools.png" alt="Image of power tool">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Tools</h5>
                        <p class="card-text">I've got the power...tool! On top of our large selection of gardening, construction and hand tools we also carry the full range of Makita LXT and Milwaukee M Series cordless power tools.</p>
                    </div>
                </div>
            </div>    
    </div> 

</section>




<script>
$('.carousel').carousel()
interval: 1500
</script> 

{% endblock %}

