{% extends "base.html"%}
{% load static %}

{% block content %}

<div class="bgImgCenter container-fluid h-100">
    <div class="bg-white text-white" height="200px">
        <img src="/media/special_offers.png" class="img-fluid" alt="special offers">
        
          <h5 class="special-offer card-title">Special Offers</h5>
          <p class="card-text"></p>
          <p class="card-text">Link to Special Offer</p>
      
    </div>
    <div class="card-deck text-black">
        <div class="card">
            <img class="card-img" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fencing Products</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paving</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
          <div class="card">
              <img class="card-img" src="..." alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Agri Products</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
          </div>
        </div>
</div>
{% endblock %}