html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: rgb(253, 245, 245);
    font-family: 'Lato';
    margin: 0;
}

/* Bulma for fontawesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: rgb(207, 8, 8) !important;
}



.border-red {
    border: 2px solid rgb(207, 8, 8) !important;
}

/* Nav Bar  */
.navbar {
    background-color: #fff !important;
}

.nav-item {
    padding-right: 1.5em;
} 

#accountnav {
    background-color: black !important;
}

/* Index Page */
.card-deck {
    padding-top: 2.0em;
}

/* Background image on index.html */
.bgImgCenter{
    background-image: url('/media/index_hmtl_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background: cover !important;
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 2em;
}


/*  Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and upwards */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}