
body {
    color: white;
    font-family: 'Lato';
    padding-bottom: 4rem;
    height: 100%;
}

/* Bulma for fontawesome icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: rgb(207, 8, 8) !important;
}


.border-red {
    border: 2px solid rgb(207, 8, 8) !important;
}

/* Nav Bar  */
.navbar {
    background-color: #fff !important;
}

.nav-item {
    padding-right: 1.5em;
} 

.navbar-nav a:hover{  
    color: rgb(207, 8, 8) !important;
}

#accountnav {
    background-color: black !important;
}

/* Index Page */
.card-deck {
    padding-top: 2.0em;
}

.card-border:hover {
    border-color: rgb(207, 8, 8) !important;
    border-style: 4px solid !important;
}

.card {
    margin-top: 2rem;
    min-width: 15rem;
    max-width: 25rem;
    margin-bottom: 2rem;
}


/* Background image on index.html */
.bgImgCenter{
    background-image: url('/media/index_hmtl_image.png');
    background-repeat: repeat; 
    background-position: center;
    background: cover !important;
    /* background-size: 100% 100%;  */
    position: relative;
    z-index: -1;
    width: 100%;
    /* min-height: 100vh;
    max-height: 100%;  */
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 10rem;
    width: 100%;
  
}


/*  Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

}

/* Size cards on larger screens */
@media (min-width: 1600px) {
    .card {
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 25rem;
    }
    
}


/* Fixed top navbar only on medium and upwards */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
} 

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    
    .search-bar {
        margin-top: 2em;
    }

    .logo-font {
        font-size: 30px;
    }
}

@media (max-width: 640px) {
    .card {
        margin-top: 2rem;
        min-width: 15rem;
        max-width: 35rem;
        margin-bottom: 2rem;
    }
    
    
}


@media (max-width: 574px) {
    .logo-font {
        font-size: 20px;
    }
}