
<div class="toast p-3" style="position: absolute; top: 0; right: 0;" data-delay="5000">
        <div class="-header success">
        <strong class="mr-auto">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="false">&times;</span>
        </button>
        </div>
        <div class="-body">
            {{ message }}
            <hr class="mt-1 mb-3">
        </div>
    
    {% if invoice_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">Your Basket ({{ item_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in basket_items %}
                    <div class="row">
                        <div class="col-8">
                            <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                        </div>
                        <div class="col-4">
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <hr class="mt-1 mb-3">
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                            Spend <strong>%€{{ free_delivery_delta }}</strong> more to get free next day delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_basket' %}" class="btn btn-black btn-block rounded-0">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>