{% extends "base.html" %}
{% load static %}

{% block content %}


<!--404 Page-->
<div class="container">
    <div class="error-container">
        <hr>
        <h1 class="error-font mb-4">404</h1>
        <h5 class="text-muted">Should this error continue please email us.</h5>
        <hr>
    </div>

    <div align="center" width="100%">
        <h3 class="heading-font">Error: Page 404 </h>
        <p>Sorry this page is unreachable, please return home and search again.</p>
        </br>
        <p>
            <a class="btn btn-black rounded-0 text-uppercase mt-5" href="{% url 'home' %}">Return to Home</a>
        </p>
        </div>
    </div>
</div>
   
{% endblock %}