<!--Footer and social buttons -->
<footer class="text-center text-white footer-block">
    <div class="container">
        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="https://www.facebook.com/TWilliamson1/"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank" 
          rel="noopener" 
          aria-label="Visit our Facebook page (opens in a new tab)"
          ><i class="fab fa-facebook-f"></i>
        </a>

        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="https://Twitter.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank" 
          rel="noopener" 
          aria-label="Visit our Twitter page (opens in a new tab)"
          ><i class="fab fa-twitter"></i>
        </a>

        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="https://Instagram.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank" 
          rel="noopener" 
          aria-label="Visit our Instagram page (opens in a new tab)"
          ><i class="fab fa-instagram"></i>
        </a>

        <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="{% url 'privacy_policy' %}"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank" 
        rel="noopener" 
        aria-label="View our Privacy Policy page (opens in a new tab)"
        ><i class="fa-solid fa-user-shield"></i>
        </a>
      
    </div>
    <div class="text-center">
        © 2022 Copyright:
        <a href="https://github.com/TNolan01" target="_blank">Tim Nolan</a>
    </div>             

</footer>
  

