<!--footer and social buttons -->
<div class="container-fluid">

    <footer class="text-center text-white">
        <div class="container pt-4">
            <div class="mb-4">
                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.facebook.com/TWilliamson1/"
                  role="button"
                  data-mdb-ripple-color="dark"
                  target="_blank" 
                  rel="noopener" 
                  aria-label="Visit our Facebook page (opens in a new tab)"
                  ><i class="fab fa-facebook-f"></i>
                </a>

                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://Twitter.com"
                  role="button"
                  data-mdb-ripple-color="dark"
                  target="_blank" 
                  rel="noopener" 
                  aria-label="Visit our Twitter page (opens in a new tab)"
                  ><i class="fab fa-twitter"></i>
                </a>

                <a
                  class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://Instagram.com"
                  role="button"
                  data-mdb-ripple-color="dark"
                  target="_blank" 
                  rel="noopener" 
                  aria-label="Visit our Instagram page (opens in a new tab)"
                  ><i class="fab fa-instagram"></i>
                </a>

              </div>
      
        </div>
  

  
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href="https://github.com/TNolan01" target="_blank">Tim Nolan</a>
        </div>
  
    </footer>
  
</div>
