<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{{ MEDIA_URL }}/site_images/own_logo.png" alt="image of logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            <li class="nav-item nav-item-color">
                <a class="nav-link" href="{% url 'gallery' %}">Inspiration</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?category=Fencing">Fencing</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Paving">Paving & Kerbing</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Agri">Agri</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Timber">Timber</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Paints">Paints</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Gates">Gates</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Stone">Decorative Stone</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Furniture">Outdoor Furniture</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Hardware">Hardware</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Tools">Tools</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'special_offers' %}">Special Offers</a>
            </div>
            </li>
            <!--Account section-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle removecaret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div  >
                        <p><i class="fas fa-user fa-lg nav-icon"></i>My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            <a href="{% url 'slider_edit' %}" class="dropdown-item">Update Site Banner</a>
                            <a href="{% url 'newsletter' %}" class="dropdown-item">Newsletter</a>
                            <a href="{% url 'email_list' %}" class="dropdown-item">Email List</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            <!--Basket section-->
            <li class="nav-item nav-item-color">
                <a class="{% if invoice_total %}text-info font-weight-bold{% else %}text-red{% endif %} nav-link" href="{% url 'view_basket' %}">
                    <div class="text-center">
                        <p class="my-0"><i class="fas fa-shopping-bag fa-lg"></i>
                                {% if invoice_total %}
                                    {{ invoice_total|floatformat:2 }}
                                {% else %}
                                    € 0.00
                                {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <!--search section-->
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                <button class="btn btn-outline-dark my-2 mr-2 my-sm-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
        </form>
    </div>
</nav>