<div class="supplier-wrapper" style="background: black;">    
    <div class="supplier-slider">
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a>
        </div>            
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/Dewalt.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
    </div>
</div>
    
 
    