<!--Supplier slider-->
<div class="supplier-wrapper">
    <div class="">
        <h2 class="title text-white">Suppliers</h2>
    </div>
    <div class="supplier-slider">
        <div class="brand-block">
            <a class="" href="https://arcbuildingproducts.ie/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/arc_250x250.png" alt="Image of Arc logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.dargantools.com/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/dargan_250x250.png" alt="Image of Dargan logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class=""  href="https://www.dewalt.ie/" target="_blank" >
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/dewalt_250x250.png" alt="Image of Dewalt logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.milwaukeetool.eu/" target="_blank" >
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/milwaukee_250x250.png" alt="Image of Milwaukee logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.stanleytools.eu/" target="_blank" >
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/stanley_245x245.png" alt="Image of Stanley logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="http://www.barclay.ie/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/barclay_250x250.png" alt="Image of Barclay logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.benman-tools.com/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/benman_250x250.png" alt="Image of Benman logo">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.tornadowire.com/?lang=ga" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/tornado_250x250.png" alt="Image of fence panel">
                </div>
            </a> 
        </div>
        <div class="brand-block">
            <a class="" href="https://www.hydrowear.eu/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/hydrowear_250x250.png" alt="Image of Hydrowear logo">
                </div>
            </a>
        </div>
        <div class="brand-block">
            <a class="" href="https://makitauk.com/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/makita_250x250.png" alt="Image of Makita logo">
                </div>
            </a>
        </div>
        <div class="brand-block">
            <a class="" href="https://www.mascotworkwear.ie/en" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/mascot_250x250.png" alt="Image of Mascot logo">
                </div>
            </a>
        </div> 
        <div class="brand-block">
            <a class="" href="https://murphyconcreteproducts.ie/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/murphy_precast_250x250.png" alt="Image of Murphys Concrete logo">
                </div>
            </a>
        </div>
        <div class="brand-block">
            <a class="" href="http://obriencement.ie/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/obrien_250x250.png" alt="Image of OBrien Cement logo">
                </div>
            </a>
        </div>  
        <div class="brand-block">
            <a class="" href="https://www.ronseal.com/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/ronseal_250x250.png" alt="Image of Ronseal logo">
                </div>
            </a>
        </div> 
        <div class="brand-block">
            <a class="" href="https://www.sealey.co.uk/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/sealey_250x250.png" alt="Image of Stanley logo">
                </div>
            </a>
        </div>
        <div class="brand-block">
            <a class="" href="https://www.tippland.ie/" target="_blank">
                <div class="brand-image">
                    <img class="brand-img" src="{{ MEDIA_URL }}/suppliers/tippland_250x250.png" alt="Image of Tippland logo">
                </div>
            </a>
        </div>            
    </div>
</div>


<!--Script for supplier logo slider -->
<script>
    $(document).ready(function(){
        $('.supplier-slider').slick({
        slidesToShow: 6,
        centerMode: true,
        autoplay: true,
        arrows: false,
   
        responsive: [{
      
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              infinite: true
            }
      
          }, {
      
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
            }
      
          }, {
      
            breakpoint: 500,
            settings: {
              slidesToShow: 2,
            }
      
          }]
        });
    });

</script>
    