<div id="carousel-messages" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-text"  id="carousel-text">
            <div class="carousel-item active">
                <div class="carousel-text-caption">
                    <h3>Follow us on Social</h3>
                    <p>Use to links to follows our Facebook and Instagram for deals and inspiration.</p>
                </div>
            </div>    
            <div class="carousel-item" id="carousel-text">
                <div class="carousel-text-caption">
                    <h3 id="slider_header">{{slider.slider_header}}</h3>
                    <p id="slider_info">{{slider.slider_info}}</p>
                </div>
            </div>
            <div class="carousel-item" id="carousel-text">
                <div class="carousel-text-caption">
                    <h3>Tommy Williamson Landscape & Agri Supplies</h3>
                    <p> Located in Templescoby, Enniscorthy. We can deliver anywhere within Leinster, including the counties of Carlow, Dublin, Kilkenny, Waterford, Wicklow,and Wexford</p>
                </div>
            </div>
            <div class="carousel-item" id="carousel-text">
            <div class="carousel-text-caption">
                <h3 id="season">We supply to Trade and Agri Sector</h3>
                <p id="season-text">All trade and agri contracts welcome.</p>
            </div>
        </div>
    </div>
</div>