<div id="carousel-messages" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-text"  id="carousel-text">
            <div class="carousel-item active">
                <div class="carousel-text-caption">
                    <h3>Boyd W.</h3>
                    <p>TEXT</p>
                </div>
            </div>    
            <div class="carousel-item" id="carousel-text">
                <div class="carousel-text-caption">
                    <h3 id="slider_header">{{text_slider.slider_header}}</h3>
                    <p id="slider_info">{{text_slider.slider_info}}</p>
                </div>
            </div>
            <div class="carousel-item" id="carousel-text">
                <div class="carousel-text-caption">
                    <h3>Tommy Williamson Landscape & Agri Supplies</h3>
                    <p> Located in Templescoby, Enniscorthy. We can deliver anywhere within Leinster, including the counties of Carlow, Dublin, Kilkenny, Waterford, Wicklow,and Wexford</p>
                </div>
            </div>
            <div class="carousel-item" id="carousel-text">
            <div class="carousel-text-caption">
                <h3 id="season">Test</h3>
                <p id="season-text">Test</p>
            </div>
        </div>
    </div>
</div>