<!--Slider text carousel-->
<div id="carousel-messages" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-text">
        <div class="carousel-item active">
            <div class="carousel-text-caption">
                <h3>Follow us on Social</h3>
                <p class="carousel-text-roll">Follow us on Facebook  
                <a
                class=""
                href="https://www.facebook.com/TWilliamson1/"
                target="_blank" 
                rel="noopener" 
                aria-label="Visit our Facebook page (opens in a new tab)"
                ><i class="fab fa-facebook-f">
                </i>
                </a>
                and Instagram  
                <a
                class=""
                href="https://Instagram.com"
                role="button"
                target="_blank" 
                rel="noopener" 
                aria-label="Visit our Instagram page (opens in a new tab)"
                ><i class="fab fa-instagram"></i>
                </a>
                </p>
            </div>
        </div>    
        <div class="carousel-item" id="carousel-text">
            <div class="carousel-text-caption">
                <h3 id="slider_header">{{slider.slider_header}}</h3>
                <p id="slider_info" class="carousel-text-roll">{{slider.slider_info}}</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-text-caption">
                <h3>Landscape & Agri Supplies</h3>
                <p class="carousel-text-roll"> We can deliver anywhere within Leinster.</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-text-caption">
                <h3 id="season">We supply to Trade and Agri Sector</h3>
                <p id="season-text" class="carousel-text-roll">All trade and agri contracts welcome.</p>
            </div>
        </div>
    </div>
</div>