{% extends "base.html"%}
{% load static %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-black">Fencing</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
    
<div class="product-container container-fluid">
    <div class="row">
        {% for product in products %}
            <div class="product-card card text-black">
                {% if product.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0 des-header">{{ product.product_name }}</p>
                    <p class="mb-0 des-text">{{ product.product_description }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                            {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.star_rating }} / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                        <div class="col">
                            <p>{{ product.sell_quantity }}</p>
                        </div>
                    </div>
                </div>
            </div>
                  
        {% endfor %}
       
    </div>
</div>



{% endblock %}